@CHARSET "UTF-8";

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 12px !important;
}

.ui-widget-content {
	border: 0px solid #DDDDDD;
}

.ajax-status { 
	position: fixed;
	top: 55px;
	right: 30px;	
	z-index: 9999;
	background-color: #DDDDDD;
}

#login-dialog {
	width: 290px;
	margin: 150px auto;
}

.login-grid {
	background-color: #F2F2F2;
	border: 1px solid #CCCCCC;
	border-radius: 8px;	
	padding: 10px;
}

.menu-item, .menu-item > a {
	font-size: 20px;
}

.ui-menuitem-link .ui-corner-all .menu-item .ui-state-hover {
	background-color: #000000;
}



